<div id="feed-page">
  <div>
    {{appService.houseName}}, {{appService.userName}}, {{appService.challengeName}}
  </div>
  <gls-member-gallery></gls-member-gallery>
  <gls-post-input></gls-post-input>
  <gls-challenge-card></gls-challenge-card>
  <gls-signin-card></gls-signin-card>
  <div *ngFor="let c of cards">
    {{c.name}}
  </div>
  <div>&nbsp;</div>
</div>

<!-- <div id="add-points-dialog">
  <div>
    <h2>Add Points</h2>
    <h2>Andrew</h2>
    <div class="member-icon">d</div>
    <div>
      <input type="number" value="1" />
    </div>
    <div>
      <button (click)="addPoints()">Ok</button>
    </div>
  </div>
</div> -->