<gls-member-gallery></gls-member-gallery>
<gls-challenge-card></gls-challenge-card>

<div id="feed-page">
  <div>
    Recent Events
  </div>
  
  <!-- <div>
    {{appService.houseName}}, {{appService.userName}}, {{appService.challengeName}}
  </div> -->
  <!-- <gls-post-input></gls-post-input>
  <gls-signin-card></gls-signin-card> -->
  <div *ngFor="let c of appService.feed$ | async" class="card">
    {{c.content}}
  </div>
  <div>&nbsp;</div>
</div>

<!-- <div id="add-points-dialog">
  <div>
    <h2>Add Points</h2>
    <h2>Andrew</h2>
    <div class="member-icon">d</div>
    <div>
      <input type="number" value="1" />
    </div>
    <div>
      <button (click)="addPoints()">Ok</button>
    </div>
  </div>
</div> -->