

<div class="slide-container">
  <div *ngFor="let c of challenges$ | async" (click)="edit(c)" class="slide-panel">
    <div>
      <i class="fa fa-trophy"></i>
    </div>
    <div>
      <h1>{{c.name}}</h1>
      <p>{{c.description}}</p>
    </div>
  </div>
</div>
<gls-leader-board-card></gls-leader-board-card>
<div class="menu-button" (click)="goChallenges()">
  <i class="fa fa-bars"></i>
</div>


<!-- <div class="slide-navigation">
        <i class="fa fa-arrow-circle-left" (click)="challengeSlideLeft(c)"></i>
        <i class="fa fa-arrow-circle-up" (click)="challengeSelect(c)"></i>
        <i class="fa fa-arrow-circle-right" (click)="challengeSlideRight(c)"></i>
      </div> -->

