/* You can add global styles to this file, and also import other style files */

@import 'colors';
@import 'list-with-buttons';
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto';
    background: #ccc;
}

.error-message {
    color: red;
}

.form-input-page {
    display: flex;
    justify-content: center;
    &>div {
        padding: 1em;
        max-width: 500px;
        flex: 1;
        h1 {
            margin-top: 0;
        }
        form>div {
            margin-bottom: 1em;
            label {
                display: block;
                font-size: 1em;
                margin-bottom: .3em;
                color: $label-color;
            }
            input[type=text],
            input[type=password] {
                background: #fff;
                border: 1px solid #aaa;
                padding: .5em;
                border-radius: 4px;
                width: 100%;
                box-sizing: border-box;
                font-size: 1em;
            }
            &.button-row {
                * {
                    margin-right: .5em;
                }
            }
            // button {
            //     border: none;
            //     padding: .5em 1em;
            //     border-radius: 4px;
            //     background: $button-background;
            //     color: $button-color;
            //     font-size: 1em;
            //     &.link {
            //         background: none;
            //         color: #000;
            //     }
            // }
        }
    }
}
button {
    border: none;
    padding: .5em 1em;
    border-radius: 4px;
    background: $button-background;
    color: $button-color;
    font-size: 1em;
    &.link {
        background: none;
        color: #000;
    }
}

.card {
    background: #fff;
    padding: 1em;
    margin-bottom: 1em;
}

.avatar {
    border-radius: 50%;
    background: #ccc;
    width: 3em;
    min-width: 3em;
    height: 3em;
    min-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5em;
    cursor: pointer;
}

.menu-button {
    border-radius: 50%;
    background: #ccc;
    width: 3em;
    min-width: 3em;
    height: 3em;
    min-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}