.post-input {
    display: flex;
    background: #fff;
    padding: .5em;
    .avatar {
        border-radius: 50%;
        background: #ccc;
        width: 3em;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .5em;
    }
    &>div:last-child {
        flex: 1;
        textarea {
            border: none;
            width: 100%;
        }
    }
}