:host>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    &>div {
        padding: .5em;                
    }
    &>div:first-child {
        display: flex;   
        flex: 1;     
        overflow: auto;
    }
}
